#logo{
  height: 60px;
  width: 180px;
  margin-left: 90px
}

#carouselExampleIndicators{
  margin-top: 10px;
  width: 350px;
  margin-left: 5px
}

#STI{
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 20px;
  font-weight: bolder;
  color: skyblue
}

#VS{
  margin-left: 15px;
  margin-top: 20px
}